<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center ps-3">
        <img src="assets/img/valuland-Logo.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-danger badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              Bạn có 2 thông báo
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Xem tất cả</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="dropdown-footer">
              <a href="#">Xem tất cả các thông báo</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Phạm Thăng</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-login.html">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng Xuất</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- Dashboard nav -->
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Trang chủ</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- Owner nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#owner-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-in-down"></i><span>Chủ nhà</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="owner-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="owner.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="owner-upload-excel.html">
              <i class="bi bi-circle"></i><span>Tải file Excel</span>
            </a>
          </li>
          <li>
            <a href="owner-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End owner nav -->

      <!-- Sale nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sale-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-up"></i><span>Bán</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sale-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="sale.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="sale.html">
              <i class="bi bi-circle"></i><span>Chăm sóc</span>
            </a>
          </li>
          <li>
            <a href="sale-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End sale nav -->

      <!-- Rent nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#rent-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Cho thuê</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="rent-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="rent.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="rent.html">
              <i class="bi bi-circle"></i><span>Chăm sóc</span>
            </a>
          </li>
          <li>
            <a href="rent-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End rent nav -->

      <!-- Notification nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#notification-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bell"></i><span>Thông báo</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="notification-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="notification.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="notification-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End notification nav -->

      <!-- Contract nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#contract-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-pen"></i><span>Hợp đồng</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="contract-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="contract.html">
              <i class="bi bi-circle"></i><span>Bán</span>
            </a>
          </li>
          <li>
            <a href="contract.html">
              <i class="bi bi-circle"></i><span>Thuê</span>
            </a>
          </li>
        </ul>
      </li><!-- End contract nav -->

      <!-- Transaction nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#transaction-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bookmark-check"></i><span>Giao dịch</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="transaction-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="transaction.html">
              <i class="bi bi-circle"></i><span>Bán</span>
            </a>
          </li>
          <li>
            <a href="transaction.html">
              <i class="bi bi-circle"></i><span>Thuê</span>
            </a>
          </li>
        </ul>
      </li><!-- End transaction nav -->

      <!-- User nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="user.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="user-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
          <li>
            <a href="user-authorization.html">
              <i class="bi bi-circle"></i><span>Phân quyền</span>
            </a>
          </li>
        </ul>
      </li><!-- End user nav -->
      

    </ul>

  </aside><!-- End Sidebar-->

  <!-- ======= Main ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Thống kê số liệu</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thống kê</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Lọc</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                    <li><a class="dropdown-item" href="#">Tháng này</a></li>
                    <li><a class="dropdown-item" href="#">Năm nay</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Bán <span>| Hôm nay</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">tăng</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6 mt-4 mt-md-0">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Lọc</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                    <li><a class="dropdown-item" href="#">Tháng này</a></li>
                    <li><a class="dropdown-item" href="#">Năm nay</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Doanh thu <span>| Tháng này</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>30 tỷ</h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">tăng</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12 mt-4 mt-xl-0">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Lọc</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                    <li><a class="dropdown-item" href="#">Tháng này</a></li>
                    <li><a class="dropdown-item" href="#">Năm nay</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Khách hàng <span>| Năm nay</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>1244</h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">giảm</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Top sale nurturing-->
            <div class="col-12 mt-4">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Bán đang chăm sóc - mới nhất</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Căn</th>
                        <th scope="col">Người chăm sóc</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top sale nurturing -->

            <!-- Recent Top rent nurturing-->
            <div class="col-12 mt-4">
              <div class="card top-selling overflow-auto">

                <div class="card-body pb-0">
                  <h5 class="card-title">Thuê đang chăm sóc - mới nhất</h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Căn</th>
                        <th scope="col">Người chăm sóc</th>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="text-primary fw-bold">S102.1821</a></td>
                        <td>Hoàng Bích</td>
                        <td>10:00 - 07/08/2024</td>
                        <td>Đã nhận cọc</td>
                        <td><a href="">Xem chi tiết</a></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Top rent nurturing -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Vừa cập nhật</h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    <b>Lụa</b> gửi thông báo tăng giá S102.1821 từ 2 tỷ lên 3 tỷ
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">56 min</div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    <b>Hoàng Bích</b> cập nhật S102.1821 có nhu cầu bán
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    <b>Ngọc</b> cập nhật S102.1822 có nhu cầu thuê
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">1 day</div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                    <b>Thăng</b> cập nhật S102.1822 đã bán
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label">2 hrs</div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    <b>Ngọc</b> cập nhật S102.1820 đã cho thuê
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->

        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>