<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>VALULAND</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/valuland-favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center ps-3">
        <img src="assets/img/valuland-Logo.png" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              Bạn có 2 thông báo
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Xem tất cả</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning text-danger"></i>
              <div>
                <h4>S102.1821 hết hạn thuê</h4>
                <p>Hạn 01/08/2024</p>
                <p>Còn 7 ngày</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>S102.1822 cập nhật giá bán</h4>
                <p>Cũ 3 tỷ</p>
                <p>Mới 3.2 tỷ</p>
              </div>
            </li>
            <li class="dropdown-footer">
              <a href="#">Xem tất cả các thông báo</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">Phạm Thăng</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng Xuất</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <!-- Dashboard nav -->
      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Trang chủ</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <!-- Owner nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#owner-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-in-down"></i><span>Chủ nhà</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="owner-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="owner.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="owner-upload-excel.html">
              <i class="bi bi-circle"></i><span>Tải file Excel</span>
            </a>
          </li>
          <li>
            <a href="owner-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End owner nav -->

      <!-- Sale nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#sale-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-arrow-up"></i><span>Bán</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="sale-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="sale.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="sale.html">
              <i class="bi bi-circle"></i><span>Chăm sóc</span>
            </a>
          </li>
          <li>
            <a href="sale-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End sale nav -->

      <!-- Rent nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#rent-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Cho thuê</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="rent-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="rent.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="rent.html">
              <i class="bi bi-circle"></i><span>Chăm sóc</span>
            </a>
          </li>
          <li>
            <a href="rent-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End rent nav -->

      <!-- Notification nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#notification-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bell"></i><span>Thông báo</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="notification-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="notification.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="notification-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
        </ul>
      </li><!-- End notification nav -->

      <!-- Contract nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#contract-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-pen"></i><span>Hợp đồng</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="contract-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="contract.html">
              <i class="bi bi-circle"></i><span>Bán</span>
            </a>
          </li>
          <li>
            <a href="contract.html">
              <i class="bi bi-circle"></i><span>Thuê</span>
            </a>
          </li>
        </ul>
      </li><!-- End contract nav -->

      <!-- Transaction nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#transaction-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bookmark-check"></i><span>Giao dịch</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="transaction-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="transaction.html">
              <i class="bi bi-circle"></i><span>Bán</span>
            </a>
          </li>
          <li>
            <a href="transaction.html">
              <i class="bi bi-circle"></i><span>Thuê</span>
            </a>
          </li>
        </ul>
      </li><!-- End transaction nav -->

      <!-- User nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>Người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="user.html">
              <i class="bi bi-circle"></i><span>Danh sách</span>
            </a>
          </li>
          <li>
            <a href="user-add.html">
              <i class="bi bi-circle"></i><span>Thêm mới</span>
            </a>
          </li>
          <li>
            <a href="user-authorization.html">
              <i class="bi bi-circle"></i><span>Phân quyền</span>
            </a>
          </li>
        </ul>
      </li><!-- End user nav -->
      

    </ul>

  </aside><!-- End Sidebar-->

  <!-- ======= Main ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Form sửa dữ liệu bán</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="sale.html">Dữ liệu bán</a></li>
          <li class="breadcrumb-item active">Sửa</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Start col-lg-12 -->
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title py-0">Thông tin</h5>
                    <div class="row g-3">
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Phân khu</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail5" value="S1">
                      </div>
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Tòa</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail5" value="S102">
                      </div>
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Mã căn</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail5" value="S102.1821">
                      </div>
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Tầng</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail5" value="18">
                      </div>
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Căn</label>
                        <input type="email" class="form-control form-control-sm" id="inputEmail5" value="21">
                      </div>
                      <div class="col-md-2">
                        <label for="inputEmail5" class="form-label small">Loại căn hộ</label>
                        <select class="form-control form-control-sm">
                          <option>3PN</option>
                          <option>2PN</option>
                          <option>1PN + 1</option>
                          <option>1PN + 1, 2WC</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <label for="validationDefault04" class="form-label small">Hướng</label>
                        <select class="form-control form-control-sm">
                          <option>Đông Nam</option>
                          <option>Đông Bắc</option>
                          <option>Tây Nam</option>
                          <option>Tây Bắc</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <label for="inputPassword5" class="form-label small">DT thông thủy</label>
                        <input type="text" class="form-control form-control-sm" id="inputPassword5" value="74.80">
                      </div>
                      <div class="col-md-2">
                        <label for="inputPassword5" class="form-label small">Giá bán</label>
                        <input type="text" class="form-control form-control-sm" id="inputPassword5" value="">
                      </div>

                    </div>
                </div> <!-- end card-body -->
              </div> <!-- end card -->
              
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title py-0">Mô tả</h5>
    
                  <!-- Mô tả -->
                  <div class="quill-editor-default">
                    <p>diện tích tim tường, vay ngân hàng, nội thất, bao phí, hoa hồng, thời gian xem, ghi chú</p>
                  </div>
                  <!-- End Mô tả -->
    
                </div>
              </div>

              <div class="card mt-3">
                <div class="card-body">
                      <!-- Images -->
                      <div class="col-md-12">
                        <!-- Basic Modal -->
                        <div class="modal fade" id="basicModal" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Upload ảnh căn hộ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-auto">
                                            <input class="form-control form-control-sm" type="file">
                                        </div>
                                        <div class="col-auto">
                                            <a href="raw.html" class="btn btn-primary">Submit</a>
                                        </div>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div><!-- End Basic Modal-->
                        
                        <a href="sale-add.html" class="btn btn-sm btn-success mb-3" data-bs-toggle="modal" data-bs-target="#basicModal"><i class="bi bi-plus-lg"></i> Thêm mới ảnh</a>
                        <div class="row g-2">
                          <div class="col-lg-2">  
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i> </a>
                              </div>
                              <a href="/assets/img/thumnail.jpg" class="card-img-link" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail.jpg" class="card-img-link" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail2.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail2.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail3.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail3.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail4.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail4.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail5.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail5.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail.jpg" class="card-img-link" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail.jpg" class="card-img-link" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail2.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail2.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail3.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail3.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail4.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail4.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail5.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="card">
                              <div class="card-body text-center">
                                <a href="" class="btn btn-sm btn-danger"><i class="small bi bi-trash"> Xóa</i></a>
                              </div>
                              <a href="/assets/img/thumnail5.jpg" target="_blank"><img class="card-img-top rounded-0" src="/assets/img/thumnail.jpg" alt="Card image cap"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End Images -->
                </div> <!-- end card-body -->
              </div> <!-- end card -->

              <div class="text-center my-5">
                <button type="submit" class="btn btn-primary me-3">Lưu dữ liệu</button>
              </div>
            </div><!-- End col-lg-12 -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>